.toast {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.toast-container {
    visibility: hidden;
    min-width: 256px;
    max-width: 516px;
    background-color: #ccc;
    color: #000;
    padding: 0.5rem;
}
